body{
  background-color: black;
}

#container{
  background-color: black;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#header{
  background-color: red;
  color:black;
  text-align: center;
}

#main{
  background-color: grey;
  text-align: justify;
}

#footer{
  background-color: white;
}

#table{
  background-color: red;
}
